@import '../../scss/variables';

.credits {
    position: absolute;
    z-index: 0;
    bottom: calc(120px + 3.76vh);
    display: inline-block;
    border: 1px solid $color-primary;
    border-radius: 0 100px 100px 0;
    padding: 1.2rem 4rem 1.2rem 1.2rem;
    margin: 0 $horizontal-margins-mobile;
    background-color: white;

    span {
        display: block;
        &:first-child, &:nth-child(3) {
            font-weight: $font-weight-medium;
        }
        &:nth-child(2), &:nth-child(4) {
            font-weight: $font-weight-light;
        }
    }

}  