@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.topbar {
   // @include color-blue
   display: flex;
   justify-content: space-between;
   width: 100%;
   position: fixed;
   z-index: 9999;
   padding: 16px;
   //  backdrop-filter: blur(8px) opacity(100%);
   // background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  //  border-bottom: 1px solid $color-primary;
   opacity: 100%;  

   a {
      text-decoration: none;
      color: $color-primary;
      background: radial-gradient(ellipse 80px 15px at center, rgba(255, 255, 255, 0), transparent);
      transition: 1s;
   }   

   a:hover, a:active {
      color: $color-primary;
      // text-decoration: underline solid 1px;
      // transition: all 0.3s ease;
      // font-weight: bold;
      // border-bottom: 1px solid $color-primary; /* Muestra un borde sólido negro */
      transition: 1s;
      background: radial-gradient(ellipse 60px 15px at center, rgba($color-secondary, 0.5), transparent);
      animation: appearance 0.25s forwards;      
   }   

   a:not(:hover) {
      animation: disappearance 0.25s forwards;
    }

   @keyframes appearance {
      0% {
        background: radial-gradient(ellipse 0 0 at center, rgba($color-secondary, 0), transparent);
      }
      25% {
         background: radial-gradient(ellipse 60px 15px at center, rgba($color-secondary, 0.125), transparent);
       }
      50% {
         background: radial-gradient(ellipse 60px 15px at center, rgba($color-secondary, 0.25), transparent);
       }
       75% {
         background: radial-gradient(ellipse 60px 15px at center, rgba($color-secondary, 0.375), transparent);
       }
      100% {
        background: radial-gradient(ellipse 60px 15px at center, rgba($color-secondary, 0.5), transparent);
      }
    }

    @keyframes disappearance {
      0% {
        background: radial-gradient(ellipse 60px 15px at center, rgba($color-secondary, 0.5), transparent);
      }
      25% {
        background: radial-gradient(ellipse 60px 15px at center, rgba($color-secondary, 0.375), transparent);
      }
      50% {
        background: radial-gradient(ellipse 60px 15px at center, rgba($color-secondary, 0.25), transparent);
      }
      75% {
        background: radial-gradient(ellipse 60px 15px at center, rgba($color-secondary, 0.125), transparent);
      }
      100% {
        background: radial-gradient(ellipse 0 0 at center, rgba($color-secondary, 0), transparent);
      }
    }
   
   svg {
      width: 24px;
      justify-self: center;
      margin-right: 4px;
      padding-bottom: 1px;
      fill: $color-primary;
   }
}

// .topbar {
//    position: fixed;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 60px;
//    backdrop-filter: blur(10px); /* Aplica el desenfoque gaussiano */
//    background-color: rgba(255, 255, 255, 0.5); /* Color de fondo semi-transparente */
//    z-index: 9999; /* Asegúrate de que la topbar esté por encima de otros elementos */
//  }

