@import '../../scss/_variables';

.project-main .h2 {
margin-bottom: $default-scale-unit-2;
}
.project {
    
    &__description {
    display: flex; 
    flex-direction: column;
    gap: $big-scale-unit-4;

        .h5 {
            font-weight: $font-weight-medium;
        }     
}
}
// }

.project__home-link {
color: $color-primary;
}

.project__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: $big-scale-unit-4;

    a {
        color: $color-primary;
    }
}

.buttons-section {
    box-sizing: border-box;
}
