@import '../../scss/_variables';
@import '../../scss/_mixins';


.project-main .h2 {
margin-bottom: $default-scale-unit-2;
}
.project {
    
    &__content {
    display: flex; 
    flex-direction: column;
    gap: $big-scale-unit-4;

        .h5 {
            font-weight: $font-weight-medium;
        }     
}
}
// }

.project__home-link {
color: $color-primary;
}

.project__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: $big-scale-unit-4;

    a {
        color: $color-primary;
    }
}

.buttons-section {
    box-sizing: border-box;
    .buttons {
        @include tablet {
            display: flex;
            gap: $big-scale-unit-2;
            justify-content: center;
        }
    }
}

.project__header {
    margin-bottom: $big-scale-unit-4;

    @include tablet {

    display: grid;
    grid-template-columns: 2fr 1fr; /* Dos columnas de igual ancho */
    grid-template-rows: 1fr 1fr; /* Dos filas de igual altura */
    column-gap: $big-scale-unit-4; /* Espacio entre las celdas del grid */
    

    }
}
