@import '../../scss/_variables';

.buttons-section {
    text-align: center;
    padding-bottom: $big-scale-unit-5;  

    span {
    display: block;
    text-align: center;  
    padding-bottom: $big-scale-unit-3;
    }    

    
}




