@import '../../scss/_variables';

.h2 {
    padding-top: calc($default-scale-unit-4 + 105px); 
    margin-bottom: $default-scale-unit-3;
}

.buttons-section {
    text-align: center;
    padding-bottom: $big-scale-unit-5;  

    span {
    display: block;
    text-align: center;  
    padding-bottom: $big-scale-unit-3;
    }
}
