@import '../../scss/_variables';
@import '../../scss/_mixins';


.buttons-section {
    text-align: center;
    padding-bottom: $big-scale-unit-5;  

    span {
    display: block;
    text-align: center;  
    padding-bottom: $big-scale-unit-3;
    }    
    
    .buttons {
        @include tablet {
            display: flex;
            gap: $big-scale-unit-2;
            justify-content: center;
        }
    }

    
}




