@import '../../scss/_variables';

.skill {
    border: 1px solid $color-primary;
    padding: $big-scale-unit-2;
    margin-bottom: $small-details-scale-unit-2;
    margin-right: $small-details-scale-unit-2;
}
.rounded {
    border-radius: 100px;
}
.straight {
    border-radius: 0;
}
