.cube-empty__position-container {
    position: relative;
    left: 250px;
    // width: 10px;
    // height: 10px;
    // background: blue;

}
.cube-empty__container {

    position: absolute;
    bottom: -30px;
    left: 0px;
    width: 220px;
    height: 220px;
    overflow: hidden;    
    opacity: 60%;
    // background-color: red;

    model-viewer {
      background: radial-gradient(circle at center, rgba(45, 0, 246, 0), rgba(45, 0, 246, 0) 100px);
      width: 210px;
      height: 210px;
      // animation: blink 0.4s alternate infinite;
      transform: rotate(45deg);
      animation: levitate 3s infinite alternate ease-in-out;      

  }

}