@import '../../scss/_variables';

// .cube__container {
//     width: 300px;
//     height: 300px;
//     left: 100px;
//     width: 50px;
//     background: radial-gradient(circle at center, #2d00f6, transparent 50px);

// }

.cube__container {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 200px;
    height: 200px;
    overflow: hidden;

}

model-viewer {
    position: relative;
    top: 0px;
    right: -30px;
    background: radial-gradient(circle at center, rgba(45, 0, 246, 0.5), rgba(45, 0, 246, 0) 100px);
    width: 200px;
    height: 200px;
}