@import '../scss/variables';
@import '../scss/global.scss';

body {
    font-family: $font-primary;
}

.styleguide {
    color: red;
}

.headers-section {
    border: 1px solid blue; 
    padding: 0.5;
}

.colors {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;

    &__grayscale, &__blue, &__green  {
        display: flex;
        gap: 10px;
    }
}

// .color {
    

//     &__gray-light {
//         background-color: $color-gray-light;
//         height: 100px;
//         width: 100px;
//         border-radius: 25px;
//    }

//     &__gray {
//         background-color: $color-gray;
//         height: 100px;
//         width: 100px;
//         border-radius: 25px;
//     }

//     &__gray-dark {
//         background-color: $color-gray-dark;
//         height: 100px;
//         width: 100px;
//         border-radius: 25px;
//     }

//     &__blue-light {
//         background-color: $color-blue-light;
//         height: 100px;
//         width: 100px;
//         border-radius: 25px;
//     }

//     &__blue {
//         background-color: $color-blue;
//         height: 100px;
//         width: 100px;
//         border-radius: 25px;
//     }

//     &__blue-dark {
//         background-color: $color-blue-dark;
//         height: 100px;
//         width: 100px;
//         border-radius: 25px;
//     }

//     &__green-light {
//         background-color: $color-green-light;
//         height: 100px;
//         width: 100px;
//         border-radius: 25px;
//     }

//     &__green {
//         background-color: $color-green;
//         height: 100px;
//         width: 100px;
//         border-radius: 25px;
//     }

//     &__green-dark {
//         background-color: $color-green-dark;
//         height: 100px;
//         width: 100px;
//         border-radius: 25px;
//     }
// }