@import '../../scss/_variables';
@import '../../scss/_mixins';


.hero-section {
    padding-top: 65px;
    height: calc(100vh);  

    &__main-text {
        display: flex;
        flex-direction: column; 
        margin-top: $default-scale-unit-8;
        margin-bottom: 22.56vh;      
        gap: 3.76vh;  
        @include tablet {
            max-width: 50%;
        }
    }
    &__profession-text {
        text-align: right;
        font-weight: $font-weight-regular;
        @include tablet {
            text-align: left;
        }
    }        
}

.content-section {
    padding-top: $default-scale-unit-4; 
    display: flex;
    flex-direction: column;
    gap: $big-scale-unit-6;
    
    .skills-section {
        display: flex;
        flex-direction: column;
        gap: $big-scale-unit-5;

        &__tools-container {
            text-align: right;
        }        

        & span.h3 {
            display: block;
            margin-bottom: $big-scale-unit-2;
        }
    }

    .buttons-section {
        padding-bottom: $big-scale-unit-5;  

        span {
        display: block;
        text-align: center;  
        padding-bottom: $big-scale-unit-3;
        }
    }
}

[class^="skills-section__skills-group"] {
    display: flex;
    flex-wrap: wrap;    
  }

  .skills-section__skills-group--tools {
        justify-content: right;    
  }




 










