@import '../../scss/variables';

.hero-section {
    padding-top: 65px;
    height: calc(100vh - 65px);    
    // height: 100vh;
        &__main-text {
            display: flex;
            flex-direction: column;            
        }
        &__profession-text {
            text-align: right;
        }  
        &__credits {
            border: 1px solid $color-primary;
            border-radius: 0 100px 100px 0;
        }      
}

.skills-section {
    &__knowledges-container {
        text-align: left;
    }
    &__tools-container {
        text-align: right;
    }
    &__technologies-container {
         text-align: left;
     }
}

.buttons-section {
    span {
        display: block;
        text-align: center;    
    }
}






