@import './_variables';
@import './_mixins';




img {
    width: 100%;
   }

// .hero-section {
//     background: linear-gradient(180deg, rgba(45, 0, 246, 0.25) 0%, rgba(45, 0, 246, 0) 55%, rgba(45, 0, 246, 0.25) 100%);   
// }
// .content-section {
//     background: linear-gradient(180deg, rgba(45, 0, 246, 0.25) -20%, rgba(45, 0, 246, 0) 55%, rgba(45, 0, 246, 0.25) 100%);   
// }
// .portfolio-main {
//     background: linear-gradient(
//     to bottom,  
//    rgba(45, 0, 246, 0.25) 0%,
//    rgba(45, 0, 246, 0) 20%, 
//    rgba(45, 0, 246, 0) 70%, 
//    rgba(45, 0, 246, 0.25) 100%);      
// }

// .project-main {
//   background: linear-gradient(
//   to bottom,  
//  rgba(45, 0, 246, 0.25) 0%,
//  rgba(45, 0, 246, 0) 10%, 
//  rgba(45, 0, 246, 0) 90%, 
//  rgba(45, 0, 246, 0.25) 100%);   
// }

.project__img-container {
  margin: $big-scale-unit-4 auto $big-scale-unit-4 auto;
  width: 75%;

  img {
    border: 1px solid $color-primary;
    @include tablet {
      display: flex;
      justify-content: center;
      margin: auto;
     }
}

  &#wireframes-img {
    margin: $big-scale-unit-4 auto $big-scale-unit-4 auto;
    width: 50%;
    // img {
    // width: 50%;}
  }
}

// .project__image-container {
//   border: 1px solid $color-primary;
//   width: 100%;
//   height: 250px;
//   img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
// }



.hero-section__floor{
object-fit: cover;
height: 100%;


    &-container {
    height: 120px;
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    background-color: white;
    border-top: 0.05rem solid $color-primary;
    border-bottom: 0.1rem solid $color-primary;
    }
}  

@mixin dynamic-hero-section-floor($min-width, $height-increment, $transform-values: scale(1, 1) translate(0px, 0px)) {
    @media screen and (min-width: $min-width) {
      .hero-section__floor {
        object-fit: cover;
        height: calc(100% + #{$height-increment});
        transform: $transform-values;
      }
    }
  }
  
  @include dynamic-hero-section-floor(375px, 25%, scale(1, 1) translate(0px, 0px));
  @include dynamic-hero-section-floor(450px, 31%, scale(1, 1) translate(0px, 0px));
  @include dynamic-hero-section-floor(525px, 42%, scale(1, 1) translate(0px, 0px));
  @include dynamic-hero-section-floor(600px, 53%, scale(1, 0.8) translate(0px, -20%));
  @include dynamic-hero-section-floor(675px, 64%, scale(1, 0.8) translate(0px, -20%));
  @include dynamic-hero-section-floor(750px, 75%, scale(1, 0.8) translate(0px, -20%));
  @include dynamic-hero-section-floor(825px, 86%, scale(1, 0.7) translate(0px, -30%));
  @include dynamic-hero-section-floor(900px, 97%, scale(1, 0.7) translate(0px, -30%));
  @include dynamic-hero-section-floor(975px, 108%, scale(1, 0.7) translate(0px, -30%));
  @include dynamic-hero-section-floor(1050px, 119%, scale(1, 0.7) translate(0px, -30%));
  @include dynamic-hero-section-floor(1125px, 130%, scale(1, 0.7) translate(0px, -30%));
  @include dynamic-hero-section-floor(1200px, 141%, scale(1, 0.7) translate(0px, -30%));
  @include dynamic-hero-section-floor(1275px, 152%, scale(1, 0.7) translate(0px, -30%));
  @include dynamic-hero-section-floor(1350px, 163%, scale(1, 0.6) translate(0px, -40%));
  @include dynamic-hero-section-floor(1425px, 174%, scale(1, 0.6) translate(0px, -40%));
  @include dynamic-hero-section-floor(1500px, 185%, scale(1, 0.6) translate(0px, -40%));
  @include dynamic-hero-section-floor(1575px, 196%, scale(1, 0.6) translate(0px, -40%));
  @include dynamic-hero-section-floor(1650px, 207%, scale(1, 0.6) translate(0px, -40%));
  @include dynamic-hero-section-floor(1725px, 218%, scale(1, 0.6) translate(0px, -40%));
  @include dynamic-hero-section-floor(1800px, 229%, scale(1, 0.6) translate(0px -40%));
  @include dynamic-hero-section-floor(1875px, 240%, scale(1, 0.6) translate(0px, -40%));

  .portfolio__floor{
    object-fit: cover;
    height: 100%;
    
    
        &-container {
        height: 120px;
        width: 100%;
        bottom: 0;
        overflow: hidden;
        background-color: white;
        border-top: 0.05rem solid $color-primary;
        border-bottom: 0.1rem solid $color-primary;
        }
    }  
    
    @mixin dynamic-hero-section-floor($min-width, $height-increment, $transform-values: scale(1, 1) translate(0px, 0px)) {
        @media screen and (min-width: $min-width) {
          .portfolio__floor {
            object-fit: cover;
            height: calc(100% + #{$height-increment});
            transform: $transform-values;
          }
        }
      }
      
      @include dynamic-hero-section-floor(375px, 25%, scale(1, 1) translate(0px, 0px));
      @include dynamic-hero-section-floor(450px, 31%, scale(1, 1) translate(0px, 0px));
      @include dynamic-hero-section-floor(525px, 42%, scale(1, 1) translate(0px, 0px));
      @include dynamic-hero-section-floor(600px, 53%, scale(1, 0.8) translate(0px, -20%));
      @include dynamic-hero-section-floor(675px, 64%, scale(1, 0.8) translate(0px, -20%));
      @include dynamic-hero-section-floor(750px, 75%, scale(1, 0.8) translate(0px, -20%));
      @include dynamic-hero-section-floor(825px, 86%, scale(1, 0.7) translate(0px, -30%));
      @include dynamic-hero-section-floor(900px, 97%, scale(1, 0.7) translate(0px, -30%));
      @include dynamic-hero-section-floor(975px, 108%, scale(1, 0.7) translate(0px, -30%));
      @include dynamic-hero-section-floor(1050px, 119%, scale(1, 0.7) translate(0px, -30%));
      @include dynamic-hero-section-floor(1125px, 130%, scale(1, 0.7) translate(0px, -30%));
      @include dynamic-hero-section-floor(1200px, 141%, scale(1, 0.7) translate(0px, -30%));
      @include dynamic-hero-section-floor(1275px, 152%, scale(1, 0.7) translate(0px, -30%));
      @include dynamic-hero-section-floor(1350px, 163%, scale(1, 0.6) translate(0px, -40%));
      @include dynamic-hero-section-floor(1425px, 174%, scale(1, 0.6) translate(0px, -40%));
      @include dynamic-hero-section-floor(1500px, 185%, scale(1, 0.6) translate(0px, -40%));
      @include dynamic-hero-section-floor(1575px, 196%, scale(1, 0.6) translate(0px, -40%));
      @include dynamic-hero-section-floor(1650px, 207%, scale(1, 0.6) translate(0px, -40%));
      @include dynamic-hero-section-floor(1725px, 218%, scale(1, 0.6) translate(0px, -40%));
      @include dynamic-hero-section-floor(1800px, 229%, scale(1, 0.6) translate(0px -40%));
      @include dynamic-hero-section-floor(1875px, 240%, scale(1, 0.6) translate(0px, -40%));
  



 
  



