// .hero-section {
//     // // background-image: url(/public/floor-mobile-optimized.svg); 
//     // background-size: 2000px;
//     // background-repeat: no-repeat;
//     // background-position: center bottom;
//     // // background-image: url(https://placekeanu.com/200/100/);
// }


img {
    width: 100%;
}
.hero-section__floor-container {
    height: 105px;
    width: 393px;
    position: absolute;
    bottom: 0;
    overflow: hidden;

}

.hero-section__floor {
object-fit: cover;
height: 100%;
}

.hero-section {
    background: linear-gradient(180deg, rgba(45, 0, 246, 0.25) 0%, rgba(45, 0, 246, 0) 50%, rgba(45, 0, 246, 0.208015) 100%);   
}

// .body {
//     background: linear-gradient(180deg, rgba(45, 0, 246, 0.25) 0%, rgba(45, 0, 246, 0) 50%, rgba(45, 0, 246, 0.208015) 100%);   

// }