.hero-section {
    &__main-text {
        padding: 0 $horizontal-margins-mobile;     
        @include tablet {
            padding: 0 $horizontal-margins-tablet;
        }
    }
}

.bio-section, .skills-section, .buttons-section {
    margin: 0 $horizontal-margins-mobile;
}