.h2 {
    padding-top: calc($default-scale-unit-4 + 105px); 
    margin-bottom: $default-scale-unit-3;
}

.hero-section {
    &__main-text {
        padding: 0 $horizontal-margins-mobile;     
        @include tablet {
            padding: 0 $horizontal-margins-tablet;
        }
    }
}

.bio-section, .skills-section, .buttons-section {
    margin: 0 $horizontal-margins-mobile;
}

.portfolio-main, .project-main {
    padding: 0 $big-scale-unit-3;
}