// COLORS
$color-fluor-blue: hsl(251 % 360, 100%, 48%);
$color-fluor-blue-light: hsl(251 % 360, 100%, 73%);
$color-fluor-blue-lighter: hsl(251 % 360, 100%, 90%);
$color-fluor-blue-lightest: hsl(251 % 360, 100%, 97%);


    //COLOR IMPLEMENTATION
    $color-primary: black;
    $color-primary-light: $color-fluor-blue-light;
    $color-primary-lighter: $color-fluor-blue-lighter;
    $color-primary-lightest: $color-fluor-blue-lightest;

    $color-secondary: #3137fd;



// FONTS

    // FONT FAMILIES
    $font-primary: 'Space Grotesk', sans-serif;
    // $font-secundary: 'Anthony Regular', sans-serif;
    $font-secundary: 'VG5000', sans-serif;


    // FONT FAMILIES IMPLEMENTATION
    $font-headers: $font-secundary;
    $font-paragraphs: $font-primary;

    //FONT SIZES
    html {
        font-size: 62.5%;
    }
    $font-size-base: 2.0rem;

    // headers
    $font-size-h1: 8.6rem;
    $font-size-h2: 6.4rem;
    $font-size-h3: 4.8rem;
    $font-size-h4: 3.6rem;
    $font-size-h5: 2.8rem;
    $font-size-h6: 2.8rem;

    $font-size-h1-tablet: 13.5rem;
    // $font-size-h2-tablet: 6.4rem;
    // $font-size-h3-tablet: 4.8rem;
    // $font-size-h4-tablet: 3.6rem;
    // $font-size-h5-tablet: 2.7rem;
    // $font-size-h6-tablet: 2.7rem;

    //paragraphs
    $font-size-small: 1.6rem;
    $font-size-default: $font-size-base;

    //FONT WEIGHTS
    $font-weight-light: 300;
    $font-weight-regular: 400;
    $font-weight-medium: 500;
    $font-weight-semibold: 600;
    $font-weight-bold: 700;

//UNITS
    $base-unit: 0.8rem; //8px
    //big-scale (scale of values)
    // consists in a valor succession where each value is the result of the addition of the all anterior values
    $big-scale-base-unit: $base-unit; //8px
    $big-scale-unit-1: $big-scale-base-unit; //8px
    $big-scale-unit-2: calc($big-scale-base-unit * 2); //16px
    $big-scale-unit-3: calc($big-scale-unit-1 + $big-scale-unit-2); //24px
    $big-scale-unit-4: calc($big-scale-unit-1 + $big-scale-unit-2 + $big-scale-unit-3); //48px
    $big-scale-unit-5: calc($big-scale-unit-1 + $big-scale-unit-2 + $big-scale-unit-3 + $big-scale-unit-4); //96px
    $big-scale-unit-6: calc($big-scale-unit-1 + $big-scale-unit-2 + $big-scale-unit-3 + $big-scale-unit-4 + $big-scale-unit-5); //192px

    //default-scale (scale of values)
    // consists in a valor succession based on multiples of 16px
    $default-scale-base-unit: ($base-unit * 2); //16px
    $default-scale-unit-1: $default-scale-base-unit; //16px
    $default-scale-unit-2: calc($default-scale-base-unit * 2); //32px
    $default-scale-unit-3: calc($default-scale-base-unit * 3); //48px
    $default-scale-unit-4: calc($default-scale-base-unit * 4); //64px
    $default-scale-unit-5: calc($default-scale-base-unit * 5); //80px
    $default-scale-unit-6: calc($default-scale-base-unit * 6); //96px
    $default-scale-unit-7: calc($default-scale-base-unit * 7); //112px
    $default-scale-unit-8: calc($default-scale-base-unit * 8); //128px
    $default-scale-unit-9: calc($default-scale-base-unit * 9); //144px
    $default-scale-unit-10: calc($default-scale-base-unit * 10); //160px
    $default-scale-unit-11: calc($default-scale-base-unit * 11); //176px
    $default-scale-unit-12: calc($default-scale-base-unit * 12); //192px
    $default-scale-unit-13: calc($default-scale-base-unit * 13); //208px
    $default-scale-unit-14: calc($default-scale-base-unit * 14); //224px
    $default-scale-unit-15: calc($default-scale-base-unit * 15); //240px
    $default-scale-unit-16: calc($default-scale-base-unit * 16); //256px
    $default-scale-unit-17: calc($default-scale-base-unit * 17); //272px
    $default-scale-unit-18: calc($default-scale-base-unit * 18); //288px
    $default-scale-unit-19: calc($default-scale-base-unit * 19); //304px
    $default-scale-unit-20: calc($default-scale-base-unit * 20); //320px
    $default-scale-unit-21: calc($default-scale-base-unit * 21); //336px
    $default-scale-unit-22: calc($default-scale-base-unit * 22); //352px
    $default-scale-unit-23: calc($default-scale-base-unit * 23); //368px
    $default-scale-unit-24: calc($default-scale-base-unit * 24); //384px
    $default-scale-unit-25: calc($default-scale-base-unit * 25); //400px



    
    //small-details-scale (scale of values)
    $small-details-scale-base-unit: calc($base-unit / 2); //4px
    $small-details-scale-unit-1: $small-details-scale-base-unit; //4px
    $small-details-scale-unit-2: calc($small-details-scale-unit-1 + 0.4rem); //8px
    $small-details-scale-unit-3: calc($small-details-scale-unit-2 + 0.4rem); //12px
    $small-details-scale-unit-4: calc($small-details-scale-unit-3 + 0.4rem); //16px
    $small-details-scale-unit-5: calc($small-details-scale-unit-4 + 0.4rem); //20px


// $unit-lineheight-ratio: 1.3;

//MARGINS
$horizontal-margins-mobile: 2.4rem;
$horizontal-margins-tablet: 16rem;







//FONT SIZE IMPLEMENTATION 
    
    





//MEDIA QUERIES

// @mixin font-size($font-size: $font-medium) {
//     font-size: $font-size;
//     @include mq(medium) {
//         font-size: $font-size *1.2;
//     }
// }

// //BORDER COLORS
// $border-color: $color-primary; 


// // MAPA DE VARIABLES
// $red: red;
// // &blue: #0000ff;
// // &pink: rgb(0,0,255);

// $mapa-colores: (
//     "red": $red,
//     "blue": $blue,
//     "pink": $blue,

// );

// @each $color, $i in $color {
//     .text-#{$color} {
//         color: $i;
//     }
// }