@import './variables';
@import './_mixins';
@import './_typography';
@import './_images';
@import './margins';
@import './links';





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $color-primary;
    font-family: $font-primary;
}

// .home-main {
//     padding: 0 $horizontal-margins-mobile 0 $horizontal-margins-mobile;
// }